.idea/compiler.xml
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
out/production/testSort/Main.class
out/production/testSort/model/Foo.class
out/production/testSort/test/OrderingEqualsObjects.class
out/test/testSort/.idea/compiler.xml
out/test/testSort/.idea/description.html
out/test/testSort/.idea/encodings.xml
out/test/testSort/.idea/misc.xml
out/test/testSort/.idea/modules.xml
out/test/testSort/.idea/uiDesigner.xml
out/test/testSort/.idea/vcs.xml
out/test/testSort/.idea/workspace.xml
out/test/testSort/src/Main.java
out/test/testSort/src/model/Foo.java
out/test/testSort/src/test/OrderingEqualsObjects.java
out/test/testSort/testSort.iml
testSort.iml
